<p>Teset</p>
<!-- <form [formGroup]="form" action="javascript:void(0)" (submit)="submit()"> -->
<form [formGroup]="form" (submit)="submit()">
  <div>
    <label>Email</label>
    <input formControlName="email" type="email" placeholder="Enter email">
  </div>
  <div>
    <label>Password</label>
    <input formControlName="password" type="password" placeholder="enter pass">
  </div>
  <button type="submit">
    Submit
  </button>
</form>
<hr>
<h2>Titel3:{{title3}}</h2>
<div>Wpisz myOffer</div>
<input type="text" [(ngModel)]="myOffer">
<nav>
  <a routerLink="/one" routerLinkActive="active">One</a>
  <a routerLink="/two" routerLinkActive="active">Two</a>
  <a routerLink="/three" routerLinkActive="active">Three</a>
  <a [routerLink]="['/four',myOffer]" routerLinkActive="active">Four</a>
</nav>
<div class="jumbotron">
  <router-outlet></router-outlet>

</div>


<hr>
<app-nowy-form></app-nowy-form>
<hr>
<app-twocomponent></app-twocomponent>
<hr>
<app-parent></app-parent>
<hr>
<app-text3d></app-text3d>
<hr>
<!-- <app-two></app-two> -->
<hr>

